<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>station_id_1</key>
	<dict>
		<key>en</key>
		<array>
			<string>Tokyo</string>
			<string>Shinagawa</string>
			<string>Shin-Yokohama</string>
			<string>Odawara</string>
			<string>Atami</string>
			<string>Mishima</string>
			<string>Shin-Fuji</string>
			<string>Shizuoka</string>
			<string>Kakegawa</string>
			<string>Hamamatsu</string>
			<string>Yoyohashi</string>
			<string>Mikawa-Anjo</string>
			<string>Nagoya</string>
			<string>Gihu-Hashima</string>
			<string>Maibara</string>
			<string>Kyoto</string>
			<string>Shin-Osaka</string>
			<string>Shin-Kobe</string>
			<string>Nishi-Akashi</string>
			<string>Himeji</string>
			<string>Aioi</string>
			<string>Okayama</string>
			<string>Shin-Kurashiki</string>
			<string>Fukuyama</string>
			<string>Shin-Onomichi</string>
			<string>Mihara</string>
			<string>Higashi-Hiroshima</string>
			<string>Hiroshima</string>
			<string>Shin-Iwakuni</string>
			<string>Tokuyama</string>
			<string>Shin-Yamaguchi</string>
			<string>Asa</string>
			<string>Shin-Shimonoseki</string>
			<string>Kokura</string>
			<string>Hakata</string>
			<string>Shin-Tosu</string>
			<string>Kurume</string>
			<string>Chikugo-Funagoya</string>
			<string>Shin-Omuta</string>
			<string>Shin-Tamana</string>
			<string>Kumamoto</string>
			<string>Shin-Yatsushiro</string>
			<string>Shin-Minamata</string>
			<string>Izumi</string>
			<string>Sendai</string>
			<string>Kagoshima-Chuo</string>
		</array>
		<key>ja</key>
		<array>
			<string>東京</string>
			<string>品川</string>
			<string>新横浜</string>
			<string>小田原</string>
			<string>熱海</string>
			<string>三島</string>
			<string>新富士</string>
			<string>静岡</string>
			<string>掛川</string>
			<string>浜松</string>
			<string>豊橋</string>
			<string>三河安城</string>
			<string>名古屋</string>
			<string>岐阜羽島</string>
			<string>米原</string>
			<string>京都</string>
			<string>新大阪</string>
			<string>新神戸</string>
			<string>西明石</string>
			<string>姫路</string>
			<string>相生</string>
			<string>岡山</string>
			<string>新倉敷</string>
			<string>福山</string>
			<string>新尾道</string>
			<string>三原</string>
			<string>東広島</string>
			<string>広島</string>
			<string>新岩国</string>
			<string>徳山</string>
			<string>新山口</string>
			<string>厚狭</string>
			<string>新下関</string>
			<string>小倉</string>
			<string>博多</string>
			<string>新鳥栖</string>
			<string>久留米</string>
			<string>筑後船小屋</string>
			<string>新大牟田</string>
			<string>新玉名</string>
			<string>熊本</string>
			<string>新八代</string>
			<string>新水俣</string>
			<string>出水</string>
			<string>川内</string>
			<string>鹿児島中央</string>
		</array>
	</dict>
	<key>station_id_2</key>
	<dict>
		<key>en</key>
		<array>
			<string>Tokyo</string>
			<string>Shinagawa</string>
			<string>Shin-Yokohama</string>
			<string>Odawara</string>
			<string>Atami</string>
			<string>Mishima</string>
			<string>Shin-Fuji</string>
			<string>Shizuoka</string>
			<string>Kakegawa</string>
			<string>Hamamatsu</string>
			<string>Toyohashi</string>
			<string>Mikawa-Anjo</string>
			<string>Nagoya</string>
			<string>Gifu-Hashima</string>
			<string>Maibara</string>
			<string>Kyoto</string>
			<string>Shin-Osaka</string>
			<string>Shin-Kobe</string>
			<string>Nishi-Akashi</string>
			<string>Himeji</string>
			<string>Aioi</string>
			<string>Okayama</string>
			<string>Shin-Kurashiki</string>
			<string>Fukuyama</string>
			<string>Shin-Onomichi</string>
			<string>Mihara</string>
			<string>Higashi-Hiroshima</string>
			<string>Hiroshima</string>
			<string>Shin-Iwakuni</string>
			<string>Tokuyama</string>
			<string>Shin-Yamaguchi</string>
			<string>Asa</string>
			<string>Shin-Shimonoseki</string>
			<string>Kokura</string>
			<string>Hakata</string>
		</array>
		<key>ja</key>
		<array>
			<string>東京</string>
			<string>品川</string>
			<string>新横浜</string>
			<string>小田原</string>
			<string>熱海</string>
			<string>三島</string>
			<string>新富士</string>
			<string>静岡</string>
			<string>掛川</string>
			<string>浜松</string>
			<string>豊橋</string>
			<string>三河安城</string>
			<string>名古屋</string>
			<string>岐阜羽島</string>
			<string>米原</string>
			<string>京都</string>
			<string>新大阪</string>
			<string>新神戸</string>
			<string>西明石</string>
			<string>姫路</string>
			<string>相生</string>
			<string>岡山</string>
			<string>新倉敷</string>
			<string>福山</string>
			<string>新尾道</string>
			<string>三原</string>
			<string>東広島</string>
			<string>広島</string>
			<string>新岩国</string>
			<string>徳山</string>
			<string>新山口</string>
			<string>厚狭</string>
			<string>新下関</string>
			<string>小倉</string>
			<string>博多</string>
		</array>
	</dict>
	<key>station_id_3</key>
	<dict>
		<key>en</key>
		<array>
			<string>Tokyo</string>
			<string>Ueno</string>
			<string>Omiya</string>
			<string>Oyama</string>
			<string>Utsunomiya</string>
			<string>Nasushiobara</string>
			<string>Shin-Shirakawa</string>
			<string>Koriyama</string>
			<string>Fukushima</string>
			<string>Shiraishi-Zao</string>
			<string>Sendai</string>
			<string>Furukawa</string>
			<string>Kurikoma-Kogen</string>
			<string>Ichinoseki</string>
			<string>Mizusawaesashi</string>
			<string>Kitagami</string>
			<string>Shin-Hanamaki</string>
			<string>Morioka</string>
			<string>Iwate-Numakunai</string>
			<string>Ninohe</string>
			<string>Hachinohe</string>
			<string>Shichinohe-Towada</string>
			<string>Shin-Aomori</string>
			<string>Okutsugaru-Imabetsu</string>
			<string>Kikonai</string>
			<string>Shin-Hakodate-Hokuto</string>
			<string>Yonezawa</string>
			<string>Takahata</string>
			<string>Akayu</string>
			<string>Kaminoyama-Onsen</string>
			<string>Yamagata</string>
			<string>Tendo</string>
			<string>Sakuranbohigashine</string>
			<string>Murayama</string>
			<string>Oishida</string>
			<string>Shinjo</string>
			<string>Shizukuishi</string>
			<string>Tazawa</string>
			<string>Kakunodate</string>
			<string>Omagari</string>
			<string>Akita</string>
		</array>
		<key>ja</key>
		<array>
			<string>東京</string>
			<string>上野</string>
			<string>大宮</string>
			<string>小山</string>
			<string>宇都宮</string>
			<string>那須塩原</string>
			<string>新白河</string>
			<string>郡山</string>
			<string>福島</string>
			<string>白石蔵王</string>
			<string>仙台</string>
			<string>古川</string>
			<string>くりこま高原</string>
			<string>一ノ関</string>
			<string>水沢江刺</string>
			<string>北上</string>
			<string>新花巻</string>
			<string>盛岡</string>
			<string>いわて沼宮内</string>
			<string>二戸</string>
			<string>八戸</string>
			<string>七戸十和田</string>
			<string>新青森</string>
			<string>奥津軽いまべつ</string>
			<string>木古内</string>
			<string>新函館北斗</string>
			<string>米沢</string>
			<string>高畠</string>
			<string>赤湯</string>
			<string>かみのやま温泉</string>
			<string>山形</string>
			<string>天童</string>
			<string>さくらんぼ東根</string>
			<string>村山</string>
			<string>大石田</string>
			<string>新庄</string>
			<string>雫石</string>
			<string>田沢湖</string>
			<string>角館</string>
			<string>大曲</string>
			<string>秋田</string>
		</array>
	</dict>
	<key>station_id_4</key>
	<dict>
		<key>en</key>
		<array>
			<string>Tokyo</string>
			<string>Ueno</string>
			<string>Omiya</string>
			<string>Kumagaya</string>
			<string>Honjowaseda</string>
			<string>Takasaki</string>
			<string>Jomo-Kogen</string>
			<string>Echigo-Yuzawa</string>
			<string>Gala-Yuzawa</string>
			<string>Urasa</string>
			<string>Nagaoka</string>
			<string>Tsubamesanjo</string>
			<string>Nigata</string>
			<string>Annakaharuna</string>
			<string>Karuizawa</string>
			<string>Sakudaira</string>
			<string>Ueda</string>
			<string>Nagano</string>
			<string>Iiyama</string>
			<string>Joetsu-Myoko</string>
			<string>Itoigawa</string>
			<string>Kurobe-Unazukionsen</string>
			<string>Toyama</string>
			<string>Shin-Takaoka</string>
			<string>Kanazawa</string>
		</array>
		<key>ja</key>
		<array>
			<string>東京</string>
			<string>上野</string>
			<string>大宮</string>
			<string>熊谷</string>
			<string>本庄早稲田</string>
			<string>高崎</string>
			<string>上毛高原</string>
			<string>越後湯沢</string>
			<string>ガーラ湯沢</string>
			<string>浦佐</string>
			<string>長岡</string>
			<string>燕三条</string>
			<string>新潟</string>
			<string>安中榛名</string>
			<string>軽井沢</string>
			<string>佐久平</string>
			<string>上田</string>
			<string>長野</string>
			<string>飯山</string>
			<string>上越妙高</string>
			<string>糸魚川</string>
			<string>黒部宇奈月温泉</string>
			<string>富山</string>
			<string>新高岡</string>
			<string>金沢</string>
		</array>
	</dict>
</dict>
</plist>
