<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ja</key>
		<string>のぞみ</string>
		<key>en</key>
		<string>NOZOMI</string>
	</dict>
    <dict>
        <key>ja</key>
        <string>さくら</string>
        <key>en</key>
        <string>SAKURA</string>
    </dict>
    <dict>
        <key>ja</key>
        <string>みずほ</string>
        <key>en</key>
        <string>MIZUHO</string>
    </dict>
    <dict>
        <key>ja</key>
        <string>つばめ</string>
        <key>en</key>
        <string>TSUBAME</string>
    </dict>
    <dict>
        <key>ja</key>
        <string>こだま</string>
        <key>en</key>
        <string>KODAMA</string>
    </dict>
    <dict>
        <key>ja</key>
        <string>はやぶさ</string>
        <key>en</key>
        <string>HAYABUSA</string>
    </dict>
    <dict>
        <key>ja</key>
        <string>はやて</string>
        <key>en</key>
        <string>HAYATE</string>
    </dict>
    <dict>
        <key>ja</key>
        <string>やまびこ</string>
        <key>en</key>
        <string>YAMABIKO</string>
    </dict>
    <dict>
        <key>ja</key>
        <string>なすの</string>
        <key>en</key>
        <string>NASUNO</string>
    </dict>
    <dict>
        <key>ja</key>
        <string>つばさ</string>
        <key>en</key>
        <string>TSUBASA</string>
    </dict>
    <dict>
        <key>ja</key>
        <string>こまち</string>
        <key>en</key>
        <string>KOMACHI</string>
    </dict>
    <dict>
        <key>ja</key>
        <string>とき</string>
        <key>en</key>
        <string>TOKI</string>
    </dict>
    <dict>
        <key>ja</key>
        <string>たにがわ</string>
        <key>en</key>
        <string>TANIGAWA</string>
    </dict>
    <dict>
        <key>ja</key>
        <string>あさま</string>
        <key>en</key>
        <string>ASAMA</string>
    </dict>
</array>
</plist>
